@{
    ViewBag.Title = "福库商城用户协议";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div id="main-con"  style="margin:0px auto;width:100%;">
    <div class="zhinan_con" >
        <p class="MsoNormal" align="left">
            <span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>一、会员注册</strong></span>
        </p>
        <p class="MsoNormal" align="left">
            1、福库商城会员注册为免费服务<span>
                <br />
                2
            </span>、填写注册资料：<span>
                <br />
                A
            </span>、用户必须提供真实、详尽及准确的注册会员资料，如注册资料有任何变动，须及时更新。如果会员提供的资料包含有不正确的信息，福库商城保留结束会员使用网络服务资格的权益<span>
                <br />
                B
            </span>、允许福库商城不定时向注册会员的电子邮箱或通讯设备发送相关的服务信息<span>
                <br />
                C
            </span>、由于用户提供的注册资料不真实或不准确而导致福库商城或任何第三方受到任何性质的损失，其注册会员应承担第三方全部损失的赔偿责任；如果仅对注册会员自身造成的任何性质的损失，则由注册用户自行承担所有责任 <span></span>
        </p>
        <p class="MsoNormal" align="left">
            3、注册会员的帐号，密码及安全<span>
                &nbsp;<br />
                A
            </span>、请牢记您在福库商城的注册帐号和密码，不可透露给任何第三方<span>
                &nbsp;<br />
                B
            </span>、注册后的会员将对其名称和密码的安全以及用其会员名称进行的所有活动和事件负全部责任<span>
                <br />
                C
            </span>、注册会员若发现任何非法盗用会员帐号和密码或存在安全漏洞的情况下，请拨打免费电话通告福库商城，免费电话：<span>
                400-658-0805;
                0532-87907287; <br />
                D
            </span>、由于注册会员泄露帐户个人资料而导致的注册会员自身的损失由注册会员自行承担<span>
                <br />
            </span><span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>二、福库商城严格禁止其以下行为：</strong></span><span>
                <br />
                1
            </span>、注册会员违反注册协议的行为<span>
                <br />
                2
            </span>、在商城提供虚假个人注册资料的行为<span>
                <br />
                3
            </span>、注册会员有损福库商城所有权益的行为<span>
                <br />
                4
            </span>、注册会员违反中华人民共和国的法律、法规、违反互联网相关规定的行为<span>
                <br />
                5
            </span>、将个人注册会员帐号用于出售、拍卖或用注册会员帐号用作商品进行交易的行为<span>
                <br />
                6
            </span>、出借、转让 个人注册会员帐号给其他会员并不恰当行使会员权利的行为<span>
                <br />
                7
            </span>、通过盗取密码、诈骗等不正当手段获取注册会员帐号的行为<span>
                <br />
                8
            </span>、不遵守福库商城的退换货、物流政策或其他相关政策的行为<span>
                <br />
                9
            </span>、通过福库商城多次恶意提交订单的行为<span>
                <br />
                10
            </span>、其他对福库商城造成直接或间接损失的行为，如果注册会员有以上任何行为之一，福库商城便有权立即停止其帐号注册会员其商城的使用权及相关利益<span>
                <br />
            </span><span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>三、 福库商城会员隐私说明：</strong></span><span>
                <br />
            </span>福库商城对注册会员的隐私有保护承诺。您提供的登记资料及本网站保留的有关您的若干其他个人资料将受到中华人民共和国有关隐私法律的保护<span>
                <br />
                1
            </span>、福库商城不会在未经注册会员同意授权的情况下公开、编辑及透露注册会员的个人注册信息<span>
                <br />
                2
            </span>、福库商城不公开会员个人注册信息，除以下情况外：<span>
                <br />
                A
            </span>、注册会员授权福库商城透露其注册会员信息<span>
                <br />
                B
            </span>、福库商城会在紧急情况下竭力维护注册会员个人和社会大众的隐私安全<span>
                <br />
                C
            </span>、遇有其他相关政府要求的政策<span>
                &nbsp;<br />
            </span><span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>四、交易：</strong></span><span>
                <br />
            </span>会员在福库商城进行商品购买时必须遵守以下提示：<span>
                <br />
                1
            </span>、商城商品的订单、价格或服务价格、付款条件和配送等在提交订单中要进行明确<span>
                <br />
                2
            </span>、注册会员的所有权和购买的产品所有权交付其指定收货人时要明确注明<span>
                <br />
                3
            </span>、其他常规保证说明<span>
                &nbsp;<br />
                A
            </span>、质量保证：商城的商品享受国家规定的质量保证。在注册会员收到商品后发现质量问题，可以按照国家三包政策进行退换或者维修处理<span>
                <br />
                B
            </span>、商品规格，种类等系列问题：注册会员务必在下订单时，仔细审核“商品信息中详细的说明”，选择自己所需要的商品后再进行订单确认。由于商品的规格，种类等系列问题导致的注册会员造成的经济损失，福库商城不提供免费的退换货服务<span>
                &nbsp;<br />
                4.
            </span>其他福库商城的注册会员有权在发现了商城上出现的商品及订单的明显错误的情况下，可单方面撤回其信息或撤销订单。在下订单的同时，您应该对订单中提供的所有信息的真实性负责<span>
                &nbsp;<br />
            </span><span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>五、拒绝提供担保：</strong></span><span>
                <br />
            </span>注册会员接受并同意信息服务的使用风险由注册会员个人承担。福库商城不担保服务不会受中断，对服务的及时性，安全性，出错发生都不作担保，但会在经营范围内，避免出错<span>
                <br />
            </span><span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>六、知识产权声明：</strong></span><span>
                <br />
            </span>福库商城提供的所有内容，如文字、图片、图像、页面、程序等都是福库商城财产。除非中华人民共和国法律另有规定，未经福库商城的认可，任何企业或个人均无权复制、下载、传输、再造福库商城中任何内容，也不得提供给第三方使用，否则应负所有法律责任。违反上述声明而给福库商城造成损失的，福库商城将依法追究其法律责任。<span>
                <br />
            </span><span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>七、商城免责声明：</strong></span><span>
                <span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>&nbsp;</strong></span><br />
            </span>福库商城有义务在技术上确保商城的正常运行，尽力避免服务中断或将中断时间限制在最短时间内，保证注册会员在商城交易活动的正常进行。但以下情况，本商城无需承担任何责任：<span>
                <br />
                1
            </span>、由于注册会员本人将会员密码告知他人或与他人共享注册账户，导致任何个人资料泄露的<span>
                <br />
                2
            </span>、任何由于黑客攻击、计算机病毒侵入或因政府管理而造成暂时性关闭等影响，网络正常经营之不可抗力而造成本商城崩溃或无法正常使用导致商城交易无法完成或丢失相关数据信息、记录等，商城不承担任何经济责任及纠纷<span>
                <br />
                3
            </span>、任何注册会员向商城提供错误、不完整、不真实信息或恶意信息等造成不能正常使用商城服务或遭受任何其他损失，与福库商城无关<span>
                <br />
            </span><span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>八、关于提示修改：</strong></span><span>
                <br />
            </span>福库商城有权在必要时修改服务提示，如服务提示的内容发生变动，将在福库商城明显页面上予以提示，或者通过其他方式通知其注册会员。<span>
                <br />
            </span><span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>九、结束服务</strong></span><span>
                <br />
            </span>会员或福库商城可随时根据实际情况中断一项或多项服务，福库商城不需对任何个人或第三方负责而随时中断服务。注册会员若反对任何服务协议的建议或对后来的协议修改有异议，或对福库商城服务不满，注册会员可以行使如下权利：<span>
                <br />
                1
            </span>、停止使用福库商城提供信息服务<span>
                <br />
                2
            </span>、通知福库商城停止对其注册会员的服务。结束注册会员服务后，注册会员使用福库商城服务将终止。注册会员将会终止与商城的相关权益，福库商城也没有义务传送任何未处理的信息或未完成的服务给终止注册的会员。第三方服务机构除外（给商城注册会员投保的保险公司）<span>
                <br />
            </span><span style="font-size:16px;line-height: 50px;margin-top:10px;"><strong>十、法律：</strong></span><span>
                <br />
            </span>本服务协议要与中华人民共和国的法律解释保持一致。商城注册会员与福库商城一致认同以上提示，并认同福库商城所在地有管辖权的法院管辖。如发生本提示中部分条款与中华人民共和国相关法律相抵触时，此提示将完全按中华人民共和国相关法律规定重新做出解释，而其它条款则依旧保持对商城注册会员的约束力！<span></span>
            <br /><br /><br />

        </p>
    </div>

</div>
<div class="clear_float"></div>
