@{
    ViewBag.Title = ViewBag.msg;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}


<div class="div_right" style="width:100%">
    <div class="con01">
      

        <div class="c02" style="text-align:center">
            <h1 style="color:red"> @ViewBag.msg</h1>
        </div>
    </div>
</div>

