@{
    ViewBag.Title = "绑定新安全手机";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <div class="pro_bq">首页><span>会员中心</span></div>
    @Html.Partial("LfetPartial")
    <div id="main-con">
        <div id="page-tit">
            <p class="font06">绑定新安全手机</p>
        </div>
        <div style="clear: both;height: 30px; "></div>

        <table border="0" cellspacing="0" cellpadding="0" id="table021">
            <tr><td class="info_t1">手机号码：</td><td class="info" colspan="2">@Html.TextBox("user_basic_tel", null, new { @placeholder = "请输入手机号码", @class = "text1" })</td></tr>
            <tr>
                <td class="info_t1">手机验证码：</td>
                <td class="info" style="width:auto">@Html.TextBox("user_basic_telreg", null, new { @placeholder = "请输入手机验证码", @class = "text1" }) </td>
                <td class="info">
                    <input type="submit" id="btn_regin" class="userD_qd" value="验证码" style="cursor:pointer; margin-bottom:35px; margin-left:-100px;" />

                    <input type="submit" id="btn_regout" class="userD_qd" value="60S" style="cursor:pointer; margin-bottom:35px; margin-left:-100px;" />
                </td>
            </tr>
        </table>

        <input type="submit" id="submit" class="userD_qd" value="确认" style="cursor:pointer" />



    </div>

    <div class="clear_float"></div>
</div>
<script>

    var regphone = /^((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/;
    var tel = $("#user_basic_tel");
    var telreg = $("#user_basic_telreg");
    var submit = $("#submit");
    var btn_regin = $("#btn_regin");
    var btn_regout = $("#btn_regout");
    var sendregcode = "";
    var si = 60;
    btn_regout.hide();
    btn_regin.click(function () {
        if (tel.val() == null || tel.val() == "") {
            alert("请输入手机号码！");
            return false;
        } else if (!tel.val().match(regphone)) {
            alert("手机号码格式不正确！");
            return false;
        } else {
            $.ajax({
                url: "/SMS?phone=" + tel.val(),
                type: 'Get',
                dataType: "JSON",
                success: function (data) {
                    sendregcode = data;
                    btn_regin.hide();
                    btn_regout.show();
                    setInterval(getAuction, 1000);
                }
            });
        }
    });

    function getAuction() {
        si--;
        btn_regout.val(si + "S");
        if (si == 0) {
            btn_regin.show();
            btn_regout.hide();
            si = 60;

        }
    }
    submit.click(function () {


        if (tel.val() == null || tel.val() == "") {
            alert("请输入手机号码！");
            return false;
        } else if (!tel.val().match(regphone)) {
            alert("手机号码格式不正确！");
            return false;
        }
        else {
            $.ajax({
                url: "/Personal/RegSecurityPhone?phone=" + tel.val(),
                type: 'Get',
                dataType: "JSON",
                success: function (data) {
                    if (data == "OK") {
                        alert("新手机号和原手机号相同！");
                    } else {
                        if (telreg.val() == sendregcode) {
                            $.ajax({
                                url: "/Personal/ModifySecurityPhone?phone=" + tel.val(),
                                type: 'Get',
                                dataType: "JSON",
                                success: function (data) {
                                    if (data == "OK") {
                                        window.location.href = "/Personal/AccountInformation/";
                                    } else {
                                            alert("操作失败！");
                                    }
                                }
                            });
                        } else {
                            alert("验证失败！");
                        }

                    }
                }
            });

        }
    });

</script>
