@{
    ViewBag.Title = "关于福库";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid" style="margin-top:60px;margin-bottom:60px;">
    <div class="thumbnail content_thumbnail text-center" style="background-color:transparent; line-height:55px;">
        <div class="col-xs-6 col-xs-offset-3" style="margin-top:50px;">
            <img src="~/img/logo.png" class="img-responsive text-center" />
        </div>
        <div class="col-xs-6 col-xs-offset-3" style="margin-top:20px;">

            <img src="~/img/swep_09.jpg" class="img-responsive text-center" />

        </div>
        <div class="col-xs-12">
            <p>扫描二维码，关注福库微信遇见更多精彩额！</p>
        </div>
    </div>
</div>