@{
    ViewBag.Title = "密码修改";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid" style="margin-top:60px;margin-bottom:60px;">
    <div class="thumbnail content_thumbnail">
        <div class="col-xs-12">
            <p style="word-break:break-all;">
                尊敬的用户： 为了您的账户安全，请您在电脑登录，在账户安全<code>http://www.cuckooshop.cn/Personal/PersonalSafe</code>进行操作！
            </p>
        </div>
    </div>
</div>
