@{
    ViewBag.Title = "系统设置";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid" style="margin-top:60px;margin-bottom:60px;">
    <div class="row">
        <div class="thumbnail divthumbnail">
            <div class="list-group" style="margin-top:0px; margin-bottom:0px;">
                <a href="@Url.Action("ChangePassword", "Personal")" class="list-group-item"><span class="fa  fa-unlock-alt" style="color:#bea624"></span>&nbsp;&nbsp;<span>密码修改</span><span class="fa fa-chevron-right pull-right" style="color:#acacac"></span></a>
                <a href="@Url.Action("AboutUs", "Personal")" class="list-group-item"><span class="fa fa-address-book" style="color:#ff0000"></span>&nbsp;&nbsp;<span>关于福库</span><span class="fa fa-chevron-right pull-right" style="color:#acacac"></span></a>
                <a href="@Url.Action("UserLogout", "Personal")" class="list-group-item"><span class="fa fa-sign-out" style="color:#0cb723"></span>&nbsp;&nbsp;<span>安全退出</span><span class="fa fa-chevron-right pull-right" style="color:#acacac"></span></a>
            </div>
        </div>
    </div>
</div>
