@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container wh_c" style="height: 520px;width:1030px ; background: #FFFFFF;margin-top: 11px;padding: 85px;">
    <div id="slideBox" class="slideBox_login">
        <div class="hd">
            <ul>
                @foreach (var item in ViewBag.bannerlist)
                {
                    <li></li>
                }
            </ul>
        </div>
        <div class="bd">
            <ul>
                @foreach (var item in ViewBag.bannerlist)
                {


                    <li>
                        <a href="@item.com_banner_url" target="_blank">
                            <div style="background: url(@item.com_img_src) no-repeat center;overflow:hidden">
                            </div>
                        </a>
                    </li>


                }
            </ul>
        </div>
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
    </div>
    <script id="jsID" type="text/javascript">
        var ary = location.href.split("&");
        jQuery(".slideBox_login").slide({
            mainCell: ".bd ul",
            effect: "left",
            autoPlay: true,
            mouseOverStop: false,
            interTime: 4000,
        });
    </script>
    <div class="box03" style="margin-top:-80px;height:auto">
        <p class="title_02">找回密码cuckoo福库商城</p>
        <div id="err" class="errhide"></div>
        <input type="text" name="contaction" id="contaction" value="" class="input_box" title="会员名" placeholder="请输入会员名称">
        <input type="text" name="tel" id="tel" value="" class="input_box" title="手机号码" placeholder="请输入手机号码">
        <div class="riqi_group">
            <input type="text" name="regcode" id="regcode" class="input_box" style="width:125px;float:left;margin-left:-10px;" placeholder="请输入手机验证码">
            <span style="line-height:34px; margin-top:15px; display:block; float:right;">
                <a id="btn_regin" style="background-color:red; font-size:16px; display:block; height:35px;width:100px;margin-top:-5px; text-align:center; color:white" href="javascript:;">获取验证码</a>
                <a id="btn_regout" style="background-color:red; font-size:14px; display:block; height:35px;width:100px;margin-top:-5px; text-align:center; color:white" href="javascript:;"><span id="sss">60</span>s后重新发送</a>
            </span>
        </div>
        <input type="password" name="psw" id="psw" value="" class="input_box  psw" title="用户密码" placeholder="请输入用户新密码">
        <div class="clear_float"></div>
        <font style="color:GrayText; font-size:14px">6-18字符(数字、字母和下划线)，区分大小写</font>
        <input type="password" name="rpsw" id="rpsw" value="" class="input_box  psw" title="确认密码" placeholder="请输入确认新密码">

        <div id="atc_yz" style="width:235px; text-align:center; margin-left:0px;">
            <div id="captcha" style="width:100%"></div>
        </div>

        <div class="clear_float"></div>
        <input type="button" id="login_u" value="提交">


    </div>
    <div class="clear_float">
    </div>
</div>
<script src="/js/gt.js"></script>
<script>

    $(function () {
        Geetest();
    });
    var regpwd = /^[0-9a-zA-Z_]{6,18}$/;
    var regphone = /^((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/;
    var submit = $("#login_u");
    var contaction = $("#contaction");//会员名
    var psw = $("#psw");//密码
    var rpsw = $("#rpsw");//确认密码
    var eml = $("#eml");//电子邮箱
    var tel = $("#tel");//手机号码
    var regcode = $("#regcode");//验证码
    var captcha = $("#captcha");
    var err = $("#err");
    var dater = $("#dater");//生日
    var btn_regin = $("#btn_regin");//获取验证码按钮
    var btn_regout = $("#btn_regout");//计时
    var sendregcode = "";//发送的验证码
    var sss = $("#sss");
    var si = 60;
    btn_regout.hide();

    btn_regin.click(function () {
        if (tel.val() == null || tel.val() == "") {
            err.attr("class", "errshow");
            err.html("请输入手机号码！");
        } else if (!tel.val().match(regphone)) {
            err.attr("class", "errshow");
            err.html("手机号码格式不正确！");
        } else {
            settime(sss);
            $.ajax({
                url: "/SMS?phone=" + tel.val(),
                type: 'Get',
                dataType: "JSON",
                success: function (data) {
                    sendregcode = data;
                }
            });
        }
    });

    function settime(val) {
        if (si == 0) {
            btn_regin.show();
            btn_regout.hide();
            val.text("提取验证码");
            si = 60;
        } else {
            btn_regin.hide();
            btn_regout.show();
            val.attr("disabled", "disabled");
            if (si < 10) {
                val.text("0" + si);
            } else {
                val.text(si);
            }
            si--;
            setTimeout(function () {
                settime(val)
            }, 1000)
        }
    }
    submit.click(function () {
        var geetest_challenge = $(".geetest_challenge");
        var geetest_validate = $(".geetest_validate");
        var geetest_seccode = $(".geetest_challenge");
        $.ajax({
            url: "/Geetest/CheckGeeTestResult",
            type: 'POST',
            data: JSON.stringify(
                {
                    geetest_challenge: geetest_challenge.val(),
                    geetest_validate: geetest_validate.val(),
                    geetest_seccode: geetest_seccode.val()
                }),
            dataType: "JSON",
            success: function (data) {
                geeteststr = data;
                if (contaction.val() == null || contaction.val() == "") {
                    err.attr("class", "errshow");
                    err.html("请输入会员名称！");
                } else if (tel.val() == null || tel.val() == "") {
                    err.attr("class", "errshow");
                    err.html("请输入手机号码！");
                } else if (!tel.val().match(regphone)) {
                    err.attr("class", "errshow");
                    err.html("手机号码格式不正确！");
                }
                else if (regcode.val() == null || regcode.val() == "") {
                    err.attr("class", "errshow");
                    err.html("请输入手机验证码！");
                } else if (regcode.val() != sendregcode) {
                    err.attr("class", "errshow");
                    err.html("手机验证码错误！");
                }
                else if (psw.val() == null || psw.val() == "") {
                    err.attr("class", "errshow");
                    err.html("请输入登录密码！");
                } else if (!psw.val().match(regpwd)) {
                    err.attr("class", "errshow");
                    err.html("密码格式不正确！");
                }
                else if (rpsw.val() == null || rpsw.val() == "") {
                    err.attr("class", "errshow");
                    err.html("请输入确认密码！");
                }
                else if (rpsw.val() != psw.val()) {
                    err.attr("class", "errshow");
                    err.html("密码不一致！");
                }

                else if (geeteststr == 0) {
                    err.attr("class", "errshow");
                    err.html("请进行滑动验证！");
                } else {
                    err.html("");
                    err.attr("class", "errhide");
                    $.ajax({
                        url: "/Login/RegUser",
                        type: 'POST',
                        data: JSON.stringify(
                            {
                                user_basic_login: contaction.val(),
                            }),
                        dataType: "JSON",
                        success: function (data) {
                            if (data == "NO") {
                                err.attr("class", "errshow");
                                err.html("用户名不存在！");
                            } else {
                                $.ajax({
                                    url: "/Login/RegPhone",
                                    type: 'POST',
                                    data: JSON.stringify(
                                        {
                                            user_basic_pwd: tel.val(),
                                        }),
                                    dataType: "JSON",
                                    success: function (data) {
                                        if (data == "NO") {
                                            err.attr("class", "errshow");
                                            err.html("手机号不存在！");
                                        } else {
                                            $.ajax({
                                                url: "/Login/ResetPassword",
                                                type: 'POST',
                                                data: JSON.stringify(
                                                    {
                                                        user_basic_login: contaction.val(),
                                                        user_basic_pwd: psw.val(),
                                                    }),
                                                dataType: "JSON",
                                                success: function (data) {
                                                    if (data == "OK") {
                                                        alert("找回成功！");
                                                        window.location.href = "/Login";
                                                    } else {
                                                        alert("找回失败！");
                                                    }
                                                }
                                            });
                                        }
                                    }
                                });
                            }
                        }
                    });
                }
            }
        });
    });
    function Geetest() {
        var handler = function (captchaObj) {
            // 将验证码加到id为captcha的元素里
            captchaObj.appendTo("#captcha");
        };
        $.ajax({
            // 获取id，challenge，success（是否启用failback）
            url: "/Geetest",
            type: "get",
            dataType: "json", // 使用jsonp格式
            success: function (data) {
                // 使用initGeetest接口
                // 参数1：配置参数，与创建Geetest实例时接受的参数一致
                // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                initGeetest({
                    gt: data.gt,
                    challenge: data.challenge,
                    product: "float", // 产品形式
                    offline: !data.success
                }, handler);
            }
        });
    }
</script>
